!!! 5
html(lang='en')
  head
    title
      block title
        != title
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/github.css")
  body
    .navbar.navbar-static-top
      .navbar-inner
        a.brand(href="#") Github Syntax Highlighter
    .container
      block content