form.filename {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: -10px;
}

.code {
  background: #fff;
  line-height: 6px;
  font-size: 12px;
}
.code .line {
  line-height: 1em;
}